<div>
  <div class="d-flex flex-wrap mb-5">
    <div
      title="Select and move"
      class="toolbox-item ml-1 mt-1"
      [ngClass]="{ selected: selected === 'SELECT' }"
      (click)="select(DrawingTools.SELECT)"
    >
      <img src="assets/toolbar-images/select.png" />
    </div>
    <div
      title="Eraser"
      class="toolbox-item ml-1 mt-1"
      [ngClass]="{ selected: selected === 'ERASER' }"
      (click)="select(DrawingTools.ERASER)"
    >
      <img src="assets/toolbar-images/eraser.png" />
    </div>
    <div
      title="Straight Line"
      class="toolbox-item ml-1 mt-1"
      [ngClass]="{ selected: selected === 'LINE' }"
      (click)="select(DrawingTools.LINE)"
    >
      <img src="assets/toolbar-images/line.png" />
    </div>
    <div
      title="Dashed line"
      class="toolbox-item ml-1 mt-1"
      [ngClass]="{ selected: selected === 'DASHED_LINE' }"
      (click)="select(DrawingTools.DASHED_LINE)"
    >
      <img src="assets/toolbar-images/dashed-line.png" />
    </div>
    <div
      title="Rectangle"
      class="toolbox-item ml-1 mt-1"
      [ngClass]="{ selected: selected === 'RECTANGLE' }"
      (click)="select(DrawingTools.RECTANGLE)"
    >
      <img src="assets/toolbar-images/rectangle.png" />
    </div>
    <div
      title="Free hand draw"
      class="toolbox-item ml-1 mt-1"
      [ngClass]="{ selected: selected === 'PENCIL' }"
      (click)="select(DrawingTools.PENCIL)"
    >
      <img src="assets/toolbar-images/pencil.png" />
    </div>
    <div
      title="Clear canvas"
      class="toolbox-item ml-1 mt-1"
      [ngClass]="{ selected: selected === 'GARBAGE' }"
      (click)="select(DrawingTools.GARBAGE)"
    >
      <img src="assets/toolbar-images/garbage.png" />
    </div>
    <div style = "padding-top: 15px ; padding-left: 5px;">
      <label for="file">Insert image from desktop:</label>
      <input type="file" (change)="readFile($event)" accept="image/x-png,image/gif,image/jpeg" style="float: left">
    </div>
  </div>
  <app-colour-palette></app-colour-palette>
  <app-thickness-slider></app-thickness-slider>
</div>
